<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/rreset.js"></script>
  <% if signed_in? %>
    <script type="text/javascript" charset="utf-8" src="/js/rreset_owner.js"></script>
  <% end %>
  <link href="/css/rreset.css" media="screen" rel="stylesheet" type="text/css" />
  <title>rreset</title>

</head>

<body>
  <%= yield %>
</body>
</html>