<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/jquery.hotkeys.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/rreset.js"></script>
  <% if signed_in? %>
    <script type="text/javascript" charset="utf-8" src="/js/rreset_owner.js"></script>
  <% end %>
  <script type="text/javascript" charset="utf-8">
    rreset.api_key = '<%= FLICKR_KEY %>';
  </script>
  <link href="/css/rreset.css" media="screen" rel="stylesheet" type="text/css" />
  <title>rreset &mdash; most certainly the best way to view flickr sets.</title>
  
  <% if ENV['RACK_ENV'] == 'production' %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-218481-11']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</head>

<body>
  <%= yield %>
  <span id="loading" style="display: none">loading...</span>
</body>
</html>