<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/rreset.js"></script>
  <% if signed_in? %>
    <script type="text/javascript" charset="utf-8" src="/js/rreset_owner.js"></script>
  <% end %>
  <script type="text/javascript" charset="utf-8">
    rreset.api_key = '<%= FLICKR_KEY %>';
  </script>
  <link href="/css/rreset.css" media="screen" rel="stylesheet" type="text/css" />
  <title>rreset &mdash; most certainly the best way to view flickr sets.</title>

</head>

<body>
  <%= yield %>
  <span id="loading" style="display: none">loading...</span>
</body>
</html>