<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <style type="text/css" media="screen">
    body { font: 18px helvetica; padding: 10px; }
  </style>
  <title>rreset</title>

</head>

<body>
  <%= yield %>
</body>
</html>