<img id="photo" />

<p id="controls">
  <a href="#" id="prev_photo" class="horizontal" style="display:none" onclick="rreset.prev_photo(); return false;">&larr;</a>
  <a href="#" id="next_photo" class="horizontal" style="display:none" onclick="rreset.next_photo(); return false;">&rarr;</a>
  <a href="#" id="bigger_photo" class="vertical" style="display:none" onclick="rreset.bigger_photo(); return false;">&uarr;</a>
  <a href="#" id="smaller_photo" class="vertical"style="display:none" onclick="rreset.smaller_photo(); return false;">&darr;</a>
</p>

<script type="text/javascript" charset="utf-8">
  $(function(){ 
    rreset.initialize_photoset('<%= @photoset.photoset_id %>');
  });
</script>