<table id="photo_layout" class="container">
  <tr>
    <td colspan="2"><img id="photo" /></td>
  </tr>
  <tr>
    <td id="photo_nav">
      <p id="controls_horizontal" class="controls">
        <a href="#" id="prev_photo" onclick="rreset.prev_photo(); return false;">&lsaquo;</a>
        <a href="#" id="next_photo" onclick="rreset.next_photo(); return false;">&rsaquo;</a>
      </p>

      <p id="controls_vertical" class="controls">
        <a href="#" id="bigger_photo"  onclick="rreset.bigger_photo();  return false;">+</a>
        <a href="#" id="smaller_photo" onclick="rreset.smaller_photo(); return false;">-</a>
      </p>
    </td>
    <td id="photo_info">
      <div class="content">
        <a href="#" id="flickr_link">view on flickr</a>, <a href="#" id="license_link">&copy;</a><br />
        <a href="http://rreset.com/">powered by rreset</a>
      </div>
    </td>
  </tr>
</table>

<script type="text/javascript" charset="utf-8">
  $(function(){ 
    rreset.initialize_set('<%= @set.photoset_id %>');
  });
</script>