* { 
  outline: 0; 
}

body { 
  font: 13px helvetica, arial, sans-serif;
  text-shadow: #eee 1px 1px 2px;
  margin: 10px; 
  padding: 0;
  color: #333;
  text-align: center;
}

p { 
  margin: 5px 0 0 0 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: underline;
}

h1 {
  text-shadow: #333 0px 1px 0;
  font-size: 40px;
  letter-spacing: .02em;
  color: #cc3ab2;
}

.container {
  margin: 0 auto;
  text-algin: left;
}

.box_shadow {
  -moz-box-shadow: 0px 0px 3px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}

div.centered_column {
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

ul#sets {
  margin: 0;
  padding: 0;
}

.set {
  list-style-type: none;
  margin: 0 25px 25px 0;
  padding: 5px;
  width: 320px;
  display: inline;
  float: left;
  position: relative;
  color: #333;
}

  .set h2 {
    margin: 12px 0 0 0;
    padding: 0;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: .03em;
  }
  
  .set h2 a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .set img {
    float: left;
    margin-right: 10px;
    border: 1px solid #eee;
    width: 75px;
    height: 75px;
  }
  
  .set label {
    margin: 0;
    padding: 2px;
    font-size: 11px;
    font-weight: bold;
  }
  
  .set.shared label {
    font-weight: normal;
  }
  
  .set label input {
    margin: 0;
    padding: 0;
  }

.set.shared, .set.shared h2 a {
  background-color: #cc3ab2;
  color: #fff !important;
  text-shadow: #333 1px 1px 0;
}

  .set.shared img {
    border: 1px solid #cc3ab2;
  }
  
p.controls {
  position: relative;
  margin: 0;
  padding: 0;
  height: 40px;
  text-shadow: #ccc 0 0 3px;
}

  p.controls a {
    text-decoration: none;
    position: absolute;
    padding: 0;
    margin: 0;
    line-height: 0;
    color: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    display: none;
  }
  
  p.controls a:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    -moz-box-shadow: 0px 0px 2px #ccc;
    -webkit-box-shadow: 0px 0px 2px #ccc;
    box-shadow: 0px 0px 2px #ccc;
  }
  
  p#controls_horizontal {
    width: 85px;
    float: left;
  }
  
    p#controls_horizontal a {
      font-size: 34px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }
    
    a#prev_photo {
      top: 0;
      left: 0;
    }

    a#next_photo {
      top: 0;
      right: 0;
    }
  
  p#controls_vertical {
    width: 25px;
    margin-left: 3px;
    float: left;
  }
  
    p#controls_vertical a {
      font-size: 12px;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      color: #333;
    }
  
    a#bigger_photo {
      top: 0;
      left: 0;
    }
  
    a#smaller_photo {
      bottom: 0;
      left: 0;
    }
  
  .activity {
    color: #cc3ab2 !important;
  }

#photo_info {
  font-size: 12px;
  text-align: right;
  line-height: 16px;
  color: #333;
}
  #photo_info .content {
    display: none;
  }
  
  #photo_info a {
    text-decoration: none;
  }

  #photo_info a:hover {
    text-decoration: underline;
  }
  
span#loading {
  position: fixed;  
  top: 0;
  left: 0;
  background-color: #cc3ab2;
  color: #fff;
  padding: 1px 2px;
  text-shadow: none;
}

p#info {
  clear: both;
}