* { 
  outline: 0; 
}

body { 
  font: 13px helvetica, arial, sans-serif; 
  margin: 10px; 
  padding: 0; 
}

p { 
  margin: 5px 0 0 0 0;
  padding: 0;
}
.photoset {
  list-style-type: none;
  margin: 0 15px 15px 0;
  padding: 0;
  width: 350px;
  display: inline;
  float: left;
  vertical-align: middle;
  -moz-box-shadow: 2px 2px 8px #ccc;
   -webkit-box-shadow: 1px 1px 10px #ccc;
   box-shadow: 1px 1px 10px #ccc;
}
  .photoset img {
    float: left;
  }
  .photoset label {
    margin: 0;
    padding: 0;
  }

img#photo {
  -moz-box-shadow: 0px 0px 8px #333;
  -webkit-box-shadow: 0px 0px 8px #333;
  box-shadow: 0px 0px 8px #333;
  display: block;
}

p.controls {
  position: relative;
  margin: 0;
  padding: 0;
  height: 30px;
  text-shadow: #ccc 0 0 3px;
}

  p.controls a {
    text-decoration: none;
    position: absolute;
    padding: 0;
    margin: 0;
    line-height: 0;
    color: #000;
  }
  
  p.controls a:hover {
    color: #fff;
  }
  
  p#controls_horizontal {
    width: 85px;
    float: left;
  }
  
    p#controls_horizontal a {
      font-size: 35px;
    }
    
    a#prev_photo {
      top: 15px;
      left: 0;
    }

    a#next_photo {
      top: 15px;
      right: 0;
    }
  
  p#controls_vertical {
    width: 25px;
    margin-left: 3px;
    float: left;
  }
  
    p#controls_vertical a {
      font-size: 11px;
    }
  
    a#bigger_photo {
      top: 5px;
      left: 0;
    }
  
    a#smaller_photo {
      bottom: 5px;
      left: 0;
    }
  
  .activity {
    color: red !important;
  }

span#loading {
  position: fixed;  
  top: 0;
  left: 0;
  background-color: #fff;
}